/** Section: properties */
/**
 This file contains css properties managed by the thematic system.
 */

/**
 You can override it using the exposed tailwind utilities.
*/
@property --primary-fg {
  syntax: "<color>";
  inherits: true;
  initial-value: #ffffff;
}

@property --primary-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: #1a202c;
}

@property --secondary-fg {
  syntax: "<color>";
  inherits: true;
  initial-value: #2d3748;
}

@property --secondary-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: #edf2f7;
}

@property --tertiary-fg {
  syntax: "<color>";
  inherits: true;
  initial-value: #4a5568;
}

@property --tertiary-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: #f7fafc;
}

@property --base-text-size {
  syntax: "<length>";
  inherits: true;
  initial-value: 1rem;
}

@property --base-container-size {
  syntax: "<length>";
  inherits: true;
  initial-value: 1rem;
}

@property --text-style-bold {
  syntax: "<ident>";
  inherits: true;
  initial-value: bold;
}

@property --text-style-italic {
  syntax: "<ident>";
  inherits: true;
  initial-value: italic;
}

@property --color-destructive {
  syntax: "<color>";
  inherits: true;
  initial-value: #ff0f00;
}

@property --color-destructive-foreground {
  syntax: "<color>";
  inherits: true;
  initial-value: #ffffff /** White */;
}

@property --color-accent {
  syntax: "<color>";
  inherits: true;
  initial-value: #007bff /** Blue */;
}

@property --color-accent-foreground {
  syntax: "<color>";
  inherits: true;
  initial-value: #ffffff /** White */;
}

@property --color-muted {
  syntax: "<color>";
  inherits: true;
  initial-value: #808080 /** Gray */;
}

@property --color-muted-foreground {
  syntax: "<color>";
  inherits: true;
  initial-value: #ffffff /** White */;
}

@property --card {
  syntax: "<color>";
  inherits: true;
  initial-value: white;
}

@property --card-foreground {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
}

@property --popover {
  syntax: "<color>";
  inherits: true;
  initial-value: white;
}

@property --popover-foreground {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
}

@property --border {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(0 0% 90%);
}

@property --input {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(0 0% 90%);
}

@property --ring {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(217.2 91.2% 59.8%);
}

@property --chart-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0.646 0.222 41.116);
}

@property --chart-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0.6 0.118 184.704);
}

@property --chart-3 {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0.398 0.07 227.392);
}

@property --chart-4 {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0.828 0.189 84.429);
}

@property --chart-5 {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0.769 0.188 70.08);
}

@property --radius {
  syntax: "<length>";
  inherits: true;
  initial-value: 0.625rem;
}

@property --sidebar {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(0 0% 98%);
}

@property --sidebar-foreground {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(240 5.3% 26.1%);
}

@property --sidebar-primary {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(240 5.9% 10%);
}

@property --sidebar-primary-foreground {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(0 0% 98%);
}

@property --sidebar-accent {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(240 4.8% 95.9%);
}

@property --sidebar-accent-foreground {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(240 5.9% 10%);
}

@property --sidebar-border {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(220 13% 91%);
}

@property --sidebar-ring {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(217.2 91.2% 59.8%);
}

@property --gradient-direction {
  syntax: "<angle> | to left | to right | to top | to bottom | to top left | to top right | to bottom left | to bottom right";
  inherits: false;
  initial-value: 0deg;
}
