@utility text-primary {
  color: var(--primary-fg);
}

@utility text-secondary {
  color: var(--secondary-fg);
}

@utility text-tertiary {
  color: var(--tertiary-fg);
}

@utility bg-primary {
  background-color: var(--primary-bg);
}

@utility bg-secondary {
  background-color: var(--secondary-bg);
}

@utility bg-tertiary {
  background-color: var(--tertiary-bg);
}

@utility text-base {
  font-size: var(--base-text-size);
}

@utility calc-unit-text-base-* {
  font-size: calc(var(--base-text-size) * (--value([ratio])));
}
/** Overrides */

@utility text-primary-override-* {
  --primary-fg: --value([color]);
}

@utility text-secondary-override-* {
  --secondary-fg: --value([color]);
}

@utility text-tertiary-override-* {
  --tertiary-fg: --value([color]);
}

@utility bg-primary-override-* {
  --primary-bg: --value([color]);
}

@utility bg-secondary-override-* {
  --secondarybfg: --value([color]);
}

@utility bg-tertiary-override-* {
  --tertiary-bg: --value([color]);
}


@utility gradient-direction-* {
  --gradient-direction: --value(--direction- *);
}

@utility gradient-direction-degree-* {
  --gradient-direction: --value(integer, [integer]) * 1deg;
}

@utility text-gradient-linear {
  background: linear-gradient(
    var(--gradient-direction),
    var(--tw-gradient-from),
    var(--tw-gradient-via),
    var(--tw-gradient-to)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
